name: Python-calculator

on: 
  workflow_dispatch: 
    inputs: 
      num1: 
        default: '0'
        required: True
      num2:
        default: '0'
        required: True 
      operation:
        default: 'add'
        required: True

jobs:
  run-python-script:
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
            python-version: '3.x'
      - name: 'Send input to python script and print output'
        run: |
          num1=${{github.event.inputs.num1}}
          num2=${{github.event.inputs.num2}}
          python calculator.py $num1 $num2 ${{github.event.inputs.operation}}
    

