name: Python-calculator

on: 
  workflow_dispatch: 
    inputs: 
      num1: 
        default: '0'
        required: True
      num2:
        default: '0'
        required: True 
      operation:
        default: 'add'
        required: True

jobs:
  run-python-script:
    runs-on: ubuntu-latest 

    - name: 'Send input to python script and print output'
      runs: |
        num1="${{github.event.inputs.num1}}"
        num2="${{github.event.inputs.num2}}"
        python calculator.py $num1, $num2, ${{github.event.inputs.operation}}
    

